---
fileName: "tower"
---
<main class="l-main-w-top-nav l-main-w-top-nav--tower">
	<section class="l-detail l-detail--kv l-detail--kvtower">
		{{> detailSectionHeader title="TOWER" sub-title="オーシャンタワー" color="white"}}
	</section>

	<section class="l-detail l-detail--tower1">
		<div class="l-detail-content l-detail-content--tower1">
			<div class="l-card">
				{{> card--detailArticle color="white" size="xlarge" data=detailArticle-tower1-data}}
			</div>
			<div class="l-img">
				<div class="l-img1">
						<img src="/common/images/pages/tower/ph01.jpg">
				</div>
				<div class="l-img2">
						<img src="/common/images/pages/tower/ph02.jpg">
				</div>
			</div>
		</div>
	</section>

	<section class="l-detail l-detail--tower2">
		<div class="l-detail-content l-detail-content--tower2">
			<div class="l-card">
				{{> card--detailArticle color="navy" size="xlarge" data=detailArticle-tower2-data}}
			</div>
			<div class="l-img">
				<div class="l-img1">
					<img src="/common/images/pages/tower/ph03.jpg">
				</div>
				<div class="l-img2">
					<img src="/common/images/pages/tower/ph04.jpg">
				</div>
				<div class="l-img3">
					<img src="/common/images/pages/tower/ph05.jpg">
				</div>
			</div>
		</div>
	</section>

	<section class="l-detail l-detail--tower3">
		<div class="l-detail-content l-detail-content--tower3">
			<div class="l-card">
				{{> card--detailArticle color="white" size="small" data=detailArticle-tower3-data}}
			</div>
			<div class="l-img">
				<div class="l-img1">
					<img src="/common/images/pages/tower/ph06.jpg">
				</div>
			</div>
		</div>
	</section>

   <section class="l-detail l-detail--tower4">
		<div class="l-detail-content l-detail-content--tower4">
			<div class="l-card">
				{{> card--detailArticle color="navy" size="small" data=detailArticle-tower4-data}}
			</div>
			<div class="l-img">
				<div class="l-img1">
					<img src="/common/images/pages/tower/ph07.jpg">
				</div>
			</div>
		</div>
	</section>

</main>
<nav class="l-breadcrumb-nav">
	{{>breadcrumbLinks data=breadcrumbLinks-data-tower}}
</nav>
